// $debug: #123456;
$workships-white: #fff;
$workships-babyblue: rgb(38, 43, 63);
$workships-blue: rgb(4, 55, 97);
$workships-grey: rgb(237, 241, 247);
$workships-grey-with-opacity: rgba(237, 241, 247, .5);
$workships-border: #c9d2de;
$workships-azure: rgb(104, 146, 183);
$workships-search-box: rgb(214, 222, 232);
$workships-left-sidebar-dark: rgb(223, 230, 240);
$workships-sidebar-seperator-dark: rgb(217, 222, 230);
$workships-sidebar-seperator-ligth: rgb(243, 245, 249);
$workships-group-name: rgb(34, 38, 46);
$workships-group-details: rgb(142, 145, 157);
$workships-group-selected: #fff;
$workships-footer-bg: rgb(40, 87, 128);
$workships-text-light-blue: rgb(113, 168, 217);
$workships-text-dark-blue: rgb(0, 54, 99);
