<div class='login-layout'>
  <div class='login-layout-center'>
    
    <img class='logo-img' src= '<%= asset_path 'login-logo.png' %>' alt="logo" />
    
    <div class='login-title'> 
      <a href="/signout" ><img  class='rounded-rectangle' src= '<%= asset_path 'Rounded Rectangle.png' %>'alt="Rounded Rectangle" /></a>
      EMPLOYEE PAGE
    </div>
    <div class="login-form forgot-password-form">
      <div class='input-form'>
          You're an employee but we still don't have anything to show you
      </div>
    </div>
  </div>
</div>