<script>
  document.Error = document.Error = {};
  document.Error = {
    flash: <%= raw flash.to_json %> 
  }
</script>


<div class='sign-in-container'>
  <div class='log-in-container'>
  <div class='left-background-container'>
    <div class='left-background'> </div>
  </div>
  <div class='login-layout' ng-controller='forgotPassword' ng-init="init()">
    <div class='login-layout-center'>
      <div class='alpha'> 
      </div>
      <div class='login-title'> <p> Forgot Password </p>
      <div class='email-sent-forgot-password' ng-show='isAuthFailed()'>A message will be sent to the address you entered,<br>containing a link to reset your password</div>
        <div ng-hide='isAuthFailed()' class='login-second-title'> Please enter the email address associated with your account
          <form>
            <div class='login-form-forgotten' >
              <div class='user-name-forgotten'> Username</div>
                <input 
                  class='email-for-forgotten' 
                  ng-model='user.email'
                  ng-class="{'submitted': !isEmailValid(), 'email-sent-input':isAuthFailed()}"
                  ng-change='cancelErrors()'
                  tabindex="1">
            </div>
            <div class='sign-in-forgotten'>
              <input type='submit' class='submit-forgotten' tabindex='2' ng-click='submit($event)' value="Send Reset Link"/>
            </div>
          </form>
          <div class='back-to-sign-in'>
            <div class='back-to-login-p' tabindex='3' ng-click='linkToSignin()'>
              Back to login
            </div>
          </div>
          <div ng-show='!isEmailValid()'>
            <div class='invalid-forgot-password'>The email address you entered is invalid</div>
          </div>
          
        </div>
      </div>
        <div class='spectory-logo-container'>
          <div class='dev-log-container'>
            <div class='developed-by-p'> Developed by</div>
            <div class='spectory-logo'><a href="https://www.spectory.com/" target="_blank"><img  src=<%= asset_path 'Spectory_Logo.png' %> ></a></div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
