 <script>
  document.Error = document.Error = {};
  document.Error = {
    flash: <%= raw flash.to_json %> 
  }
</script>
<div class='sign-in-container'>
  <div class='log-in-container'>
  <div class='left-background-container'>
    <div class='left-background'> </div>
  </div>
  <div class='login-layout' ng-controller='ResetPasswordController' ng-init="init()">
      <div class='login-layout-center'>
        <div class='login-title'> <p> Reset Password </p></div>
        <form>
        <div class='user-name-reset-password' >Password 
          <input
           type='password'
           class='reset_password_field force_style' 
           ng-model='user.password'
           ng-class="{'submitted': !password_match|| !passwords_verified }"
             >
        </div>
        <div class='user-name-reset-password-confirm' >Confirm Password
          <input
           type='password'
           class='confirm_password_field force_style' 
           ng-model='user.password_confirmation'
          ng-class="{'submitted': !password_match|| !passwords_verified }">
        </div>
        <div class='padder-div'>
        </div>
      <div class='sign-in'>
        <input type='submit' class='submit' ng-click='onClickResetPassword()' value="Reset Password"/>
      </div>
      </form>
      <div ng-show='!password_match'>
        <div class='confirm_password_error_message'>Passwords don't match </div>
      </div>
      <div ng-show='!passwords_verified'>
        <div class='confirm_password_error_message'>Password does not meet requirements </div>
      </div>
      <div class='spectory-logo-container'>
        <div class='dev-log-container'>
          <div class='developed-by-p'> Developed by</div>
         <div class='spectory-logo'><a href="https://www.spectory.com/" target="_blank"><img  src=<%= asset_path 'Spectory_Logo.png' %> ></a></div>
        </div>
      </div>
  </div>
</div>

