<div class='sign-in-container' ng-controller='setPasswordController' ng-init="init()">
  <div class='log-in-container'>
  <div class='left-background-container'>
    <div class='left-background'> </div>
  </div>
  <div class='login-layout' >
      <div class='login-layout-center'>
        <div class='login-title'> <p> Set Password </p></div>
          <div class='user-name' >Password 
            <input
             type='password'
             class='reset_password_field signin force_style' 
             ng-model='user.password'
             ng-class="{'submitted': !password_match|| !passwords_verified }"
             >
          </div>
          <div class='user-name-reset-password-confirm' >Confirm Password
            <input
             type='password'
             class='confirm_password_field force_style' 
             ng-model='user.password_confirmation'
             ng-class="{'submitted': !password_match|| !passwords_verified }"
             >
          </div>
          <div class='padder-div'>
        </div>
     <div class='sign-in'>
        <div class='submit' ng-click='onClickSetPassword($event)'>
           <p> Set Password </p>
        </div>
      </div>
<!--             <% if flash[:password_error] %>
        <div class="confirm_password_ok_message"><%= flash[:password_error] %></div>
      <% end %> -->
      <div ng-show='!password_match'>
        <div class='confirm_password_error_message'>Passwords dont match </div>
      </div>
      <div ng-show='!passwords_verified'>
        <div class='confirm_password_error_message'>Password does not meet requirements </div>
      </div>
            <div class='spectory-logo-container'>
        <div class='dev-log-container'>
          <div class='developed-by-p'> Developed by</div>
          <div class='spectory-logo'><a href="https://www.spectory.com/" target="_blank"><img  src=<%= asset_path 'Spectory_Logo.png' %> ></a></div>
        </div>
      </div>  
    </div>
      </div>
  </div>
</div>

