<!DOCTYPE html>
<html >
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body dir="ltr">
    <h1>StepAhead - Reset Password</h1>
    <p>
      Reset Password<br>
      <b><a href='<%= @link %>'><%= @link %></a></b>
    </p>
  </body>
</html>




