<div class="sas-form-error-bar">Form Error</div>
<div class="sas-inner-cont">
  <br><br>
  <div class="sas-guiding-text">
    <%= @error_msg %>
  </div>

  <form id="sasform" action="/sa_setup" method="get">
    <br><br><br><br>
    <button class="sas-submit-btn">Go Back</button>
  </form>
</div>
