<div class="sas-inner-cont">
  <div class="sas-guiding-text">
    Exchange Message Tracking log files may contain sesitive inforation so are expected to be encrypted using GPG.<br>
    Please enter the GPG encryption passphrase. The passphrase may include alphanumeric characters only.
  </div>
  <br><br>

  <form id="sasform" action="/sa_setup/gpg_passphrase" method="post">

    <label class="sas-input-label">GPG Passphrase:<br><br>
      <input class="sas-input-text" type="password" name="gpgPassphrase">
    </label>

    <br><br><br><br>
    <button class="sas-submit-btn">Save</button>

  </form>
</div>
