<div class="sas-inner-cont">
  <div class="sas-guiding-text">
    Thank you for completing the IT setup phase.<br><br>
    From this point you may proceed either to a system test screen, or to a <br>
    screen that will guide you through the process of uploading employees and<br>
    some other pieces of information which are required by the system.
  </div>
  <br><br><br><br>

  <form id="sasform" action="/sa_setup/system_test" method="get">
    <label class="sas-input-label">Proceed to system test:</label>
    <br><br>
    <button class="sas-submit-btn">System Test</button>
  </form>
  <br><br><br><br>

  <form id="sasform" action="/sa_setup/system_definitions" method="get">
    <label class="sas-input-label">Proceed to system definitions:</label>
    <br><br>
    <button class="sas-submit-btn">System Definitions</button>
  </form>
</div>
