// Place all the styles related to the backend_v_two controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*@import './colors';
@import './common';*/

.backend_v2 {
  .cvs_loaders_container {
    display: inline-flex;
    background-color: red;
    /*background: white;*/
    /*border: 1px solid black;*/
    /*left: 50%;
    margin-left: -450px;
    position: relative;
    width: 900px;
    padding-top :15px;
    padding-bottom :50px;*/
  }
  .hide {
    visibility: hidden;
  }
  .csv-loader
  {
    clear: both;
    margin-left: 20px;
    *
    {
      margin-left: 15px;
      float: left;
      margin-top: 10px;
      min-width: 100px;
    }
    .submit
    {
      height: 30px;
    }
    .differnce {
    	margin-left: 20px !important;
    }
  }

  .error {
    top: -136px;
    position: relative;
    color: red;
  }
  .company_error {
    color: red;
  }
}

.backend_title {
  font-size: 26px;
  font-weight: 500;
  margin-top: 20px;
  margin-left: 20px;
}

.network-description {
  font-weight: 500;
  font-size: 20px;
  margin-left: 20px;
  margin-bottom: 30px;
}

.select-file {
  margin-left: 30px;
  float: right;
}

.differnce {
  background-color: red;
  margin-left: 20px !important;
  margin-top: 10px;
}

.submit-btn {
  position: absolute;
  top: 200px;
  left: 30px;
  width: 30px !important;
  /*left: -217px;*/
  }