<div ng-controller="mobileQuestionnaireController" ng-init="init()">

  <div ng-if="mobile_app_service.isLangRtl()" class="mobile-header"  dir='rtl'>


    <div class="mobile-header">
      <div class="mobile-header-page-num">
        {{mobile_app_service.getIndexOfCurrentQuestion()}}/{{mobile_app_service.getTotalQuestions()}}
      </div>
      <div class="mobile-header-title"  ng-bind-html='r.question_title'></div>
      <div ng-if="canShowBackToFirstQuestion()" ng-click="returnToFirstQuestion()" class="mobile-header-back rtl">
        <div class="back-img"></div>
        <span>הוספת שם</span>
      </div>
    </div>


    <!--     <div class="mobile-header-title"  ng-bind-html='r.question_title'></div>
        <div class="mobile-header-page-num">{{mobile_app_service.getIndexOfCurrentQuestion()}}/{{mobile_app_service.getTotalQuestions()}}</div>
        <div class="mobile_search_click" ng-click='toggleFullQuestionView()'>Q</div> -->
  </div>


  <div ng-if="!mobile_app_service.isLangRtl()" class="mobile-header">
    <!-- <div class="mobile_search_click" ng-click='toggleFullQuestionView()'>Q</div> -->
    <div class="mobile-header-page-num">{{mobile_app_service.getIndexOfCurrentQuestion()}}/{{mobile_app_service.getTotalQuestions()}}</div>
    <div class="mobile-header-title" ng-bind-html='r.question_title'></div>
    <div ng-if="canShowBackToFirstQuestion()" ng-click="returnToFirstQuestion()" class="mobile-header-back">
      <div class="back-img"></div>
      <span>חזור</span>
    </div>
  </div>

  <div class='mobile-content' id="main_container" ng-class="{'finish-question': isFinished() && isLoaded()}">
    <div class='question-instruction-tooltip'>
      <div class='full-question-blocker-show' ng-click="hidePopup($event)" ng-class="{'full-question-blocker-hide': (!show_full_question && !show_popup)}"></div>
      <div ng-show="container.showValue" ng-click="showOrHideQ($event)" class='question-container' ng-class="{'question-container-display': show_full_question, 'question-container-hide-display': !show_full_question}">
        <div ng-if="mobile_app_service.isLangRtl()" class='question' dir='rtl'>

          <bdi ng-if="show_full_question" ng-bind-html='r.question'></bdi>
          <bdi ng-if="!show_full_question" ng-bind-html='r.question_first_line' style="position: absolute; top: 50%;"></bdi>

        </div>
        <div ng-if="!mobile_app_service.isLangRtl()" class='question'>

          <bdi ng-if="show_full_question" ng-bind-html='r.question'></bdi>
          <bdi ng-if="!show_full_question" ng-bind-html='r.question_first_line' style="position: absolute; top: 50%;"></bdi>

        </div>
        <div ng-if="show_full_question" ng-click="hidePopup($event)" class='close-btn close-q-container'>
          <!-- {{mobile_app_service.t('close_button')}}<%#= I18n.t('questionnaire.close_button') %>--></div>
        <div ng-if="!show_full_question" ng-click="showPopup()" class='v-idle-btn v-idle-container'>
          <!-- {{mobile_app_service.t('close_button')}}<%#= I18n.t('questionnaire.close_button') %>--></div>
      </div>
      <div class="genericPopUp confirm-box" ng-class="{'genericPopUp-display': isChoseBySearch(),'genericPopUp-rtl': mobile_app_service.isLangRtl()}">
        <div class="subject">
          <span>{{mobile_app_service.t('are_you_sure')}}<%#= I18n.t('questionnaire.are_you_sure')%></span>
          <span>{{getChosenEmployee()}}? </span>
        </div>
        <div class="popup-buttons">
          <div class= "actions-btn ok-btn" ng-click="onSelect()">{{mobile_app_service.t('ok')}}<%#= I18n.t('questionnaire.ok')%></div>
          <div class="actions-btn cancel-btn" ng-click="onCancel()">{{mobile_app_service.t('cancel')}}<%#= I18n.t('questionnaire.cancel')%></div>
        </div>
      </div>

      <div class="genericPopUp" ng-class="{'genericPopUp-display': isDisplaySafariMsg(),'genericPopUp-rtl': mobile_app_service.isLangRtl()}">
        <div class="x-cancel" ng-click="onCancelSafariMsg()"></div>
        <div class="subject">
          <span>{{mobile_app_service.t('hi')}} {{mobile_app_service.getUserName()}}</span>
          <!-- <span></span> -->
        </div>
        <div class="genericPopup-content"><span>{{mobile_app_service.t('safari_msg')}}</span></div>
        <div class="popup-buttons"  style="margin-top: 0;">
          <!-- <div class= "actions-btn ok-btn" ng-click="onSelect()">{{mobile_app_service.t('ok')}}<%#= I18n.t('questionnaire.ok')%></div> -->
          <div class="actions-btn copy-btn" ng-click="copyLink()">{{mobile_app_service.t('copy_link')}}</div>
        </div>
        <div class="link_copied" ng-class="{'link_copied_display': link_copied}"><span>{{mobile_app_service.t('link_copied')}}</span></div>
      </div>

    </div>
    <div ng-show='!isFinished() && isLoaded() && !is_snowball_q_first_step'>

      <!--       <div class="mobile_search_container" ng-if='display_search()'>
        <div class='mobile_search_tab'>
          <input ng-if="!mobile_app_service.isLangRtl()" class='mobile_search_text' type='text' placeholder="{{mobile_app_service.t('search')}}" ng-model="search_input.text" typeahead="search_node.name for search_node in search_list() | filter:$viewValue |  limitTo:5" typeahead-on-select='showConfirmBox($item,r.question_id); search_input.text=""'/>
          <div class="mobile_search_img_container" ng-click='clearSearch()'>
            <img class='mobile_search_img' alt="clear" src="<%#= asset_path 'x.png' %>"/>
          </div>
          <input ng-if="mobile_app_service.isLangRtl()" dir='rtl' class='mobile_search_text_rtl' type='text' placeholder="{{mobile_app_service.t('search')}}" ng-model="search_input.text" typeahead="search_node.name for search_node in search_list() | filter:$viewValue |  limitTo:5" typeahead-on-select='showConfirmBox($item,r.question_id); search_input.text=""'/>
        </div>
      </div> -->
      <div ng-if="r.is_selection_question">
       <form class="modal-form" ng-submit="submitInterestQuestionForm()">
           <div class="form-group mobile">
               <div style="width:75%;margin-top:30%">
                   <select class="modal-input-select"
                           id="interestQuestion"
                           name="interestQuestion"
                           ng-model="interestQuestion.selectedOption"
                           ng-options="option.name as option.name for option in r.selection_question_options"
                           required>
                       <option value="">Select an interest</option>
                   </select>
               </div>
           </div>
           <div class="form-group mobile">
               <button type="submit" class="save-button">{{mobile_app_service.t('save')}}</button>
           </div>
       </form>
      </div>
      <div ng-if="!r.is_selection_question">
        <slot-machine-directive height='{{heightOfContainer}}' value='currentlyFocusedEmployeeId' on-select-class="zoom-avatar" swipe='swipe' loaded='isLoaded()' load-more='loadMore'>
          <div ng-repeat="employee_response in tiny_array" value='{{employee_response.employee_id}}' class='slot-machine' ng-if='employeeDoesNotHaveResponseForQuestion(r.question_id, employee_response.employee_id) || searchAdded(employee_response.employee_id)'>
            <div class="employee-item">
              <div class = "mobile-avatars" ng-if="!getEmployeeImg(employee_response.employee_details_id)" >
                <div class ="ciricle-avatar" ng-style = 'getCiricleColor($index)' >
                  <div class = 'emp-short-name'>{{shortEmpName(employee_response.employee_details_id)}}</div>
                </div>
              </div>
              <img class="mobile-avatars" ng-src='{{getEmployeeImg(employee_response.employee_details_id)}}' ng-if="getEmployeeImg(employee_response.employee_details_id)">
              <div class="mobile-dislike-btn" prevent-zoom ng-show="employee_response.employee_id == currentlyFocusedEmployeeId" ng-click='onUserResponse(r.question_id, employee_response.employee_id, false, r.employee_details_id)'>
                <div class='x-icon'></div>
              </div>
              <div class="mobile-like-btn" prevent-zoom ng-show="employee_response.employee_id == currentlyFocusedEmployeeId" ng-click='onUserResponse(r.question_id, employee_response.employee_id, true, r.employee_details_id)'>
                <div class='v-icon'></div>
              </div>
              <div class='mobile-employee-text' ng-class ="{'emp-name-rtl': mobile_app_service.isLangRtl()}" ng-show="employee_response.employee_id == currentlyFocusedEmployeeId">
                <div class="name">{{employeeById(employee_response.employee_details_id).name}}</div>
                <div class="rank">{{employeeById(employee_response.employee_details_id).role}}</div>
              </div>
            </div>
          </div>
        </slot-machine-directive>
      </div>
    </div>

    <div ng-if="mobile_app_service.isLangRtl()" dir='rtl' ng-show='isFinished() && isLoaded()'  >
      <div class='page_content finish-task mobile-interact-page-content' style='margin-top: 150px;' >
        <div class="large-logo-mobile">
          <img ng-src="{{logoSrc()}}"  width="100%">
          <!-- <img src="<%#= asset_path 'logo-medium.png' %>"  width="100%"> -->
        </div>
        <h1 class='page_title'>{{mobile_app_service.t('question_completion_note_html')}}<%#=I18n.t('questionnaire.question_completion_note_html')%></h1>
        <div class="interact-page-primary-btn" ng-click="clearScreenOnFinish()">
          {{mobile_app_service.t('continue_answer_next_question')}}<%#= I18n.t('questionnaire.continue_answer_next_question') %>
        </div>
        <div class="saved-location-text">
          {{mobile_app_service.t('saved_location_message')}}
          <%#= I18n.t('questionnaire.saved_location_message') %>
        </div>
        <div class='foot'>
          <img src="<%= asset_path 'logo-medium.png' %>" height="75" width="308">
          <span>Powered by</span>
        </div>

      </div>
    </div>

    <div ng-if="!mobile_app_service.isLangRtl()" ng-show='isFinished() && isLoaded()' >
      <div class='page_content finish-task mobile-interact-page-content' style='margin-top: 150px;' >
        <div class="large-logo-mobile">
          <img ng-src="{{logoSrc()}}"  width="100%">
          <!-- <img src="<%#= asset_path 'logo-medium.png' %>"  width="100%"> -->
        </div>
        <h1 class='page_title'>{{mobile_app_service.t('question_completion_note_html')}}<%#=I18n.t('questionnaire.question_completion_note_html')%></h1>
        <div class="interact-page-primary-btn" ng-click="clearScreenOnFinish()">
          {{mobile_app_service.t('continue_answer_next_question')}}
          <%#= I18n.t('questionnaire.continue_answer_next_question') %>
        </div>
        <div class="saved-location-text">
          {{mobile_app_service.t('saved_location_message')}}
          <%#= I18n.t('questionnaire.saved_location_message') %>
        </div>
        <div class='foot'>
          <span>Powered by</span>
          <img src="<%= asset_path 'logo-medium.png' %>" height="75" width="308">
        </div>

      </div>
    </div>
  </div>
  <div ng-if = "!(isFinished() && isLoaded())">
    <!--         <div class="mobile_search_container">
            <div class='mobile_search_tab'>
            </div>
          </div> -->
    <div class= 'search-result' ng-if = "search_input.text != ''">
      <div class='close-btn close-q-container' ng-click = "closeSearchResult()"></div>
      <div class="search-item"
           ng-click ="showConfirmBox(search_node,r.question_id)"
           ng-class ="{'ltr': !mobile_app_service.isLangRtl()}"
           ng-repeat="search_node in hhh | filter:{name:search_input.text} as $results track by search_node.id">
        <div class="avatar-search" ng-style= 'getCiricleColor($index)'>{{shortName(search_node.name)}}</div>
        <div class="search-emp-name">
          <div class="emp-name">{{search_node.name}}</div>
          <div>{{search_node.role}}</div>
        </div>
      </div>
      <div class= "search-item no-results" ng-if="$results.length === 0">
        {{mobile_app_service.t('no_results')}}
      </div>
    </div>

    <!-- AutoComplete Snowball by Firstname and LastName -->
    <!--  <div class= 'search-result' ng-if = "search_input.firstname != '' || search_input.lastname != ''">-->
    <!--    <div class='close-btn close-q-container' ng-click = "closeSearchResult()"></div>-->
    <!--    <div class="search-item"-->
    <!--         ng-click ="showConfirmBox(search_node,r.question_id)"-->
    <!--         ng-class ="{'ltr': !mobile_app_service.isLangRtl()}"-->
    <!--         ng-repeat="search_node in hhh | fullnameFilter:search_input as $results track by search_node.id">-->
    <!--      <div class="avatar-search" ng-style= 'getCiricleColor($index)'>{{shortName(search_node.name)}}</div>-->
    <!--      <div class="search-emp-name">-->
    <!--        <div class="emp-name">{{search_node.name}}</div>-->
    <!--        <div>{{search_node.role}}</div>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--    <div class= "search-item no-results" ng-if="$results.length === 0">-->
    <!--      {{mobile_app_service.t('no_results')}}-->
    <!--    </div>-->
    <!--  </div>-->
    <!-- AutoComplete Snowball  -->

    <div ng-if="mobile_app_service.isLangRtl()"  class="mobile-footer">
      <div class="mobile-btns-container rtl">
        <button class="right-button search-btn" ng-class='{finished: canFinish(), disabled: !canFinish()}' ng-show="is_snowball_q_first_step" ng-click='minMaxOnFinish()'>
          <span class="continue">המשך</span>
        </button>
        <div class="right-button search-btn" ng-if="!searchListOpen && !is_snowball_q_first_step" ng-click='toggleSearchInput()'>
          <span>{{mobile_app_service.t('search_message')}} </span>
        </div>
        <div class="right-search-input" ng-if="searchListOpen">
          <input type="text" auto-focus  ng-change="searchFunc()" ng-model="search_input.text" autocomplete="off" class="searchInput"/>

          <!--         <input id="jhjhj" type="text" auto-focus  ng-model="search_input.text" typeahead="search_node.name for search_node in search_list() | filter:$viewValue |  limitTo:5" typeahead-on-select='showConfirmBox($item,r.question_id); search_input.text=""' /> -->
        </div>
        <!--  <div class="mobile-undo" prevent-zoom ng-click= "onUndo()" ng-class='{disabled: isUndoDisabled()}'><i class="fa fa-share"></i></div> -->

        <div class="left-button counter-btn" ng-class='{finished: canFinish(), disabled: !canFinish()}'
             ng-click='minMaxOnFinish()' ng-if='mobile_app_service.isQuestionTypeMinMax()'>
          <i class="fa fa-chevron-left" ng-show='canFinish()'></i>
          <span ng-if='mobile_app_service.isQuestionTypeMinMax() && isLoaded()'>
        {{numberOfEmployeesAnsweredTrueForQuestion(r.question_id)}} / {{displayMaxAmount()}}
        </span>
        </div>

        <div class="left-button" ng-class='{finished: canFinish(), disabled: !canFinish()}'
             ng-click='clearScreenOnFinish()' ng-if='!mobile_app_service.isQuestionTypeMinMax()'>
          <i class="fa fa-chevron-left" ng-show='canFinish()'></i>
          {{numOfAnswers()}} / {{clientMaxReplies()}}
        </div>
      </div>
      <!-- Modal window rtl -->
      <div class="modal-backdrop mobile" ng-click="checkIfAutoCompleteListIsOpenAndCloseIt($event)" ng-show="showModal"></div>
      <div class="modal" ng-click="checkIfAutoCompleteListIsOpenAndCloseIt($event)" ng-show="showModal">
        <div class="rtl modal-content" >
          <!--        <span class="close-button" ng-click="closeModalFunc()">×</span>-->

          <form class="modal-form" ng-submit="submitUnverifiedEmployeeForm()">
            <div class="header">
              <span class="header-text">הקלידו את השם הפרטי ושם המשפחה ובחרו את  היחידה</span>
            </div>
            <div class="form-group mobile">
              <input type="text" id="firstname" ng-click="showAutoCompleteList('firstname')" ng-change="searchAutocompleteFunc('firstname')" ng-model="search_input.firstname" class="modal-input" name="firstname" placeholder="{{mobile_app_service.t('enter_first_name')}}" required>
            </div>
            <!-- AutoComplete Snowball by Firstname and LastName -->
            <div class= 'search-result snowball-firstname' ng-if = "showFirstNameList && ((autocomplete.firstnames && autocomplete.firstnames.length != 0 ) && search_input.firstname.length > 0)">
              <div class="search-item"
                   ng-click ="chooseAndHide(search_node,'firstname')"
                   ng-class ="{'ltr': !mobile_app_service.isLangRtl()}"
                   ng-repeat="search_node in autocomplete.firstnames">
                <div class="search-emp-name">
                  <div class="emp-name">{{search_node}}</div>
                </div>
              </div>
            </div>
            <!-- AutoComplete Snowball  -->
            <div class="form-group mobile">
              <input type="text" class="modal-input" id="lastname" name="lastname" ng-click="showAutoCompleteList('lastname')" ng-change="searchAutocompleteFunc('lastname')" ng-model="search_input.lastname" placeholder="{{mobile_app_service.t('enter_last_name')}}" required>
            </div>
            <!-- AutoComplete Snowball by Firstname and LastName -->
            <div class= 'search-result snowball-lastname' ng-if = "showLastNameList && ((autocomplete.lastnames && autocomplete.lastnames.length != 0 ) && search_input.lastname.length > 0)">
              <div class="search-item"
                   ng-click ="chooseAndHide(search_node,'lastname')"
                   ng-class ="{'ltr': !mobile_app_service.isLangRtl()}"
                   ng-repeat="search_node in autocomplete.lastnames">
                <div class="search-emp-name">
                  <div class="emp-name">{{search_node}}</div>
                </div>
              </div>
            </div>
            <!-- AutoComplete Snowball  -->
            <div class="form-group mobile">
              <select id="department" class="modal-input-select" name="department"
                      ng-model="employee.department"
                      ng-options="dept.id as dept.name for dept in departments"
                      required>
                <option value="">{{mobile_app_service.t('select_department')}}</option>
              </select>
            </div>
            <div class="form-group mobile">
              <button type="submit" class="save-button">{{mobile_app_service.t('save')}}</button>
            </div>
          </form>
        </div>
      </div>
      <!-- Modal window -->
    </div>
    <div ng-if="!mobile_app_service.isLangRtl()" class="mobile-footer">
      <div ng-if="r.is_selection_question" class="mobile-btns-container ltr">
         <button class="right-button search-btn" style="width:100%" ng-class='{finished: canFinish(), disabled: !canFinish()}' ng-click='minMaxOnFinish()'>
           <span class="continue">המשך</span>
         </button>
      </div>
      <div class="mobile-btns-container ltr" ng-if="!r.is_selection_question">
        <button class="right-button search-btn" ng-class='{finished: canFinish(), disabled: !canFinish()}' ng-show="is_snowball_q_first_step" ng-click='minMaxOnFinish()'>
          <span class="continue">המשך</span>
        </button>
        <!-- <div class="mobile-undo" prevent-zoom ng-click= "onUndo()" ng-class='{disabled: isUndoDisabled()}'><i class="fa fa-reply"></i></div> -->
        <div class="right-button counter-btn" ng-class='{finished: canFinish(), disabled: !canFinish()}' ng-click='clearScreenOnFinish()'>
          {{numOfAnswers()}} / {{clientMaxReplies()}}
          <i class="fa fa-chevron-right" ng-show='canFinish()'></i>
        </div>
        <div class="left-button search-btn ltr" ng-if="!searchListOpen && !is_snowball_q_first_step" ng-click='toggleSearchInput()'>
          <span>{{mobile_app_service.t('search_message')}} </span>
        </div>
        <div class="right-search-input" ng-if="searchListOpen">
          <input type="text" auto-focus  ng-change="searchFunc()" ng-model="search_input.text" autocomplete="off" class="searchInput"/>
        </div>
      </div>

      <div class="modal-backdrop mobile" ng-click="checkIfAutoCompleteListIsOpenAndCloseIt($event)" ng-show="showModal"></div>
      <div class="modal" ng-click="checkIfAutoCompleteListIsOpenAndCloseIt($event)" ng-show="showModal">
        <div ng-if="r.is_selection_question">
         <form class="modal-form" ng-submit="submitInterestQuestionForm()">
             <div class="form-group mobile">
                 <div style="width:75%;margin-top:30%">
                     <select class="modal-input-select"
                             id="interestQuestion"
                             name="interestQuestion"
                             ng-model="interestQuestion.selectedOption"
                             ng-options="option.name as option.name for option in r.selection_question_options"
                             required>
                         <option value="">Select an interest</option>
                     </select>
                 </div>
             </div>
             <div class="form-group mobile">
                 <button type="submit" class="save-button">{{mobile_app_service.t('save')}}</button>
             </div>
         </form>
        </div>
        <div class="modal-content" ng-if="!r.is_selection_question">
          <!--        <span class="close-button" ng-click="closeModalFunc()">×</span>-->
          <form class="modal-form" ng-submit="submitUnverifiedEmployeeForm()">
            <div class="header">
              <span class="header-text">הקלידו את השם הפרטי ושם המשפחה ובחרו את  היחידה</span>
            </div>
            <div class="form-group mobile">
              <input type="text" id="firstname" ng-click="showAutoCompleteList('firstname')" ng-change="searchAutocompleteFunc('firstname')" ng-model="search_input.firstname" class="modal-input" name="firstname" placeholder="{{mobile_app_service.t('enter_first_name')}}" required>
            </div>
            <!-- AutoComplete Snowball by Firstname and LastName -->
            <div class= 'search-result snowball-firstname' ng-if = "showFirstNameList && ((autocomplete.firstnames && autocomplete.firstnames.length != 0 ) && search_input.firstname.length > 0)">
              <div class="search-item"
                   ng-click ="chooseAndHide(search_node,'firstname')"
                   ng-class ="{'ltr': !mobile_app_service.isLangRtl()}"
                   ng-repeat="search_node in autocomplete.firstnames">
                <div class="search-emp-name">
                  <div class="emp-name">{{search_node}}</div>
                </div>
              </div>
            </div>
            <!-- AutoComplete Snowball  -->
            <div class="form-group mobile">
              <input type="text" id="lastname" ng-click="showAutoCompleteList('lastname')" ng-change="searchAutocompleteFunc('lastname')" ng-model="search_input.lastname" class="modal-input" name="lastname" placeholder="{{mobile_app_service.t('enter_last_name')}}" required>
            </div>
            <!-- AutoComplete Snowball by Firstname and LastName -->
            <div class= 'search-result snowball-lastname' ng-if = "showLastNameList && ((autocomplete.lastnames && autocomplete.lastnames.length != 0 ) && search_input.lastname.length > 0)">
              <div class="search-item"
                   ng-click ="chooseAndHide(search_node,'lastname')"
                   ng-class ="{'ltr': !mobile_app_service.isLangRtl()}"
                   ng-repeat="search_node in autocomplete.lastnames">
                <div class="search-emp-name">
                  <div class="emp-name">{{search_node}}</div>
                </div>
              </div>
            </div>
            <!-- AutoComplete Snowball  -->
            <div class="form-group mobile">
              <select id="department" class="modal-input-select" name="department"
                      ng-model="employee.department"
                      ng-options="dept.id as dept.name for dept in departments"
                      required>
                <option value="">{{mobile_app_service.t('select_department')}}</option>
              </select>
            </div>
            <div class="form-group mobile">
              <button type="submit" class="save-button">{{mobile_app_service.t('save')}}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>



</div>
