<!DOCTYPE html>
<html>
<head>
  <title>Stepahead</title>
  <meta charset=utf-8 />
  <meta lang=en />
  <script src="/assets/keylines.js" type='text/javascript'></script>
  <%= stylesheet_link_tag    "signin_style", media: "all" %>
  <%= javascript_include_tag "signin_logic" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
</body>
</html>
